﻿
@{
    ViewBag.Title = "Index";
}

<h2>Simulate Trips</h2>
<div ng-app="app" ng-controller="ctrl">
    <form id="editForm" name="editForm">
        <div class="form-group" ng-class="{'has-error': editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)}">
            <label class="control-label" for="TransportCardId">Card Id</label>
            <input name="TransportCardId"
                   id="TransportCardId"
                   class="form-control"
                   placeholder="Card Id"
                   required
                   type="text"
                   ng-model="data.CardId" />
            <div class="help-block" ng-show="editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)">
                <span ng-show="editForm.TransportCardId.$error.required">Card Id is required. </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editForm.Station.$invalid && (!editForm.Station.$pristine || editForm.Station.$touched)}">
            <label class="control-label" for="IdType">Station</label>
            <select class="form-control"
                    required
                    name="Station"
                    id="Station"
                    ng-model="data.StationId">
                <option value="">[Select Id]</option>
                <option value="{{station.Id}}" ng-repeat="station in stations">{{station.StationName}}</option>


            </select>
            <div class="help-block" ng-show="editForm.Station.$invalid && (!editForm.Station.$pristine || editForm.Station.$touched)">
                <span ng-show="editForm.Station.$error.required">Station is required. </span>
            </div>

        </div>

        <div>
            <button type="button" class="btn btn-default" ng-disabled="editForm.$invalid" ng-click="enter()">Enter Gate</button>
            <button type="button" class="btn btn-default" ng-disabled="editForm.$invalid" ng-click="exit()">Exit Gate</button>
            <a href="/" type="button" class="btn btn-default">Back</a>
        </div>
        <span style="color:red;font-weight: bold" ng-bind="errorMessage"></span>
        <hr />
        <h2>Card History</h2>
        <div style="padding-bottom: 10px;">
            <button type="button" ng-click="historylisting()" ng-disabled="editForm.TransportCardId.$invalid" class="btn btn-default">Refresh</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Card Id</th>
                    <th>Transaction Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Fare</th>
                    <th>Discount Applied</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hist in history">
                    <td><span ng-bind="hist.CardId"></span></td>
                    <td><span ng-bind="hist.TransactionDate"></span></td>
                    <td><span ng-bind="hist.StationFrom"></span></td>
                    <td><span ng-bind="hist.StationTo"></span></td>
                    <td><span ng-bind="hist.Charged"></span></td>
                    <td><span ng-bind="hist.DiscountApplied"></span></td>
                    <td><span ng-bind="hist.Type"></span></td>
                </tr>
            </tbody>
        </table>
    </form>

</div>

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("app", []);

        app.controller('ctrl',
            [
                '$scope',
                '$http',
                function ($scope, $http) {

                    var $ctrl = this;

                    $scope.data = {};
                    $scope.stations = [];
                    $scope.history = [];

                    $scope.enter = function () {
                        $scope.errorMessage = "";
                        $http({
                            method: "POST",
                            url: '/simulatetrips/enter',
                            data: { model: $scope.data }
                        })
                            .then(function (r) {
                                var data = r.data;
                                if (data.success) {
                                    alert("Entered successfully");
                                }
                                else {
                                    $scope.errorMessage = data.errorMsg;
                                }

                            }, function (error) {
                                    $scope.errorMessage = "Error! Try again later.";
                            });
                    };
                    $scope.exit = function () {
                        $scope.errorMessage = "";
                        $http({
                            method: "POST",
                            url: '/simulatetrips/exit',
                            data: { model: $scope.data }
                        })
                            .then(function (r) {
                                var data = r.data;
                                if (data.success) {
                                    alert("Exited successfully");
                                }
                                else {
                                    $scope.errorMessage = data.errorMsg;
                                }

                            }, function (error) {
                                    $scope.errorMessage = "Error! Try again later.";
                            });
                    };

                    $scope.historylisting = function () {
                        $scope.history = [];
                        $http({
                            method: "GET",
                            url: '/simulatetrips/listhistory',
                            params: { cardId: $scope.data.CardId }
                        })
                            .then(function (r) {
                                var data = r.data;
                                if (data.success) {
                                    $scope.history = data.history;
                                }
                                else {
                                    $scope.errorMessage = data.errorMsg;
                                }

                            }, function (error) {
                                $scope.errorMessage = "Error! Try again later.";
                            });
                    };


                    (function pageInit() {

                        $http({
                            method: "GET",
                            url: '/simulatetrips/liststations'
                        })
                            .then(function (r) {
                                var data = r.data;
                                $scope.stations = data.stations;
                            }, function (error) {
                            });


                    })();

                }
            ]
        );

    </script>


}
