﻿
@{
    ViewBag.Title = "Index";
}

<h2>Reload Card </h2>
<div ng-app="app" ng-controller="ctrl">
    <form id="editForm" name="editForm">
        <div class="form-group" ng-class="{'has-error': editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)}">
            <label class="control-label" for="TransportCardId">Enter Card Id</label>
            <input name="TransportCardId"
                   id="TransportCardId"
                   class="form-control"
                   placeholder="Card Id"
                   required
                   type="text"
                   ng-model="data.CardId" />
            <div class="help-block" ng-show="editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)">
                <span ng-show="editForm.TransportCardId.$error.required">Card Id is required. </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editForm.AmountToLoad.$invalid && (!editForm.AmountToLoad.$pristine || editForm.AmountToLoad.$touched)}">
            <label class="control-label" for="AmountToLoad">Load Amount: <small>[Required. Min 100. Max 10000]</small></label>
            <input name="AmountToLoad"
                   id="AmountToLoad"
                   class="form-control"
                   placeholder="Load Amount"
                   required
                   type="number"
                   min="100"
                   max="10000"
                   ng-model="data.AmountToLoad" />
            <div class="help-block" ng-show="editForm.AmountToLoad.$invalid && (!editForm.AmountToLoad.$pristine || editForm.AmountToLoad.$touched)">
                <span ng-show="editForm.AmountToLoad.$error.required">Amount to load is required. </span>
                <span ng-show="editForm.AmountToLoad.$error.min || editForm.AmountToLoad.$error.max">Load should be min of 100 max of 10000. </span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': editForm.CashValue.$invalid && (!editForm.CashValue.$pristine || editForm.CashValue.$touched)}">
            <label class="control-label" for="CashValue">Cash Value</label>
            <input name="CashValue"
                   id="CashValue"
                   class="form-control"
                   placeholder="Id Number"
                   required
                   type="number"
                   lessthan="{{data.AmountToLoad}}"
                   ng-model="data.CashValue" />
            <div class="help-block" ng-show="editForm.CashValue.$invalid && (!editForm.CashValue.$pristine || editForm.CashValue.$touched)">
                <span ng-show="editForm.CashValue.$error.required">Cash Value load is required. </span>
                <span ng-show="editForm.CashValue.$error.lessthan">Cash Value is less than the Amount to load. </span>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="editForm.$invalid">Save</button>
            <a href="/" type="button" class="btn btn-default">Back</a>
        </div>
        <br />
        <span style="color:red;font-weight: bold" ng-bind="errorMessage"></span>
        <pre>Change: {{change | json}}</pre>

    </form>

</div>



@section scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("app", []);

        app.controller('ctrl',
            [
                '$scope',
                '$http',
                function ($scope, $http) {
                    $scope.errorMessage = "";
                    $scope.change = 0;
                    resetData();

                    $scope.save = function () {
                        $scope.errorMessage = "";
                        $http({
                            method: "POST",
                            url: '/reloadcard/save',
                            data: { model: $scope.data }
                        })
                            .then(function (r) {
                                var data = r.data;
                                if (data.success) {
                                    alert("Load successfully");
                                    $scope.editForm.$setPristine();
                                    $scope.editForm.$setUntouched();
                                    resetData();
                                }
                                else {
                                    $scope.errorMessage = data.errorMsg;
                                }

                            }, function (error) {

                            });
                    }

                    $scope.$watch(function () { return $scope.data; }, function (model) {
                        ComputeTotal();
                    }, true);

                    function resetData() {
                        $scope.data = {
                            CardId: "",
                            AmountToLoad: 100,
                            CashValue: 0
                        };
                    }

                    function ComputeTotal() {
                        $scope.change = $scope.data.CashValue - $scope.data.AmountToLoad;
                    }

                }
            ]
        );

        app.directive('lessthan', [function () {

            var link = function ($scope, $element, $attrs, ctrl) {

                var validate = function (viewValue) {
                    var comparisonModel = $attrs.lessthan;

                    if (!viewValue || !comparisonModel) {
                        ctrl.$setValidity('lessthan', true);
                    }
                    ctrl.$setValidity('lessthan', viewValue >= comparisonModel);
                    return viewValue;
                };

                ctrl.$parsers.unshift(validate);
                ctrl.$formatters.push(validate);

                $attrs.$observe('lessthan', function (comparisonModel) {
                    return validate(ctrl.$viewValue);
                });

            };
            return {
                require: 'ngModel',
                link: link
            };
        }]);

    </script>


}

