﻿
@{
    ViewBag.Title = "Index";
}

<h2>Create Transport Card</h2>
<div ng-app="app" ng-controller="ctrl">
    <form id="editForm" name="editForm">
        <div class="form-group" ng-class="{'has-error': editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)}">
            <label class="control-label" for="TransportCardId">Card Id</label>
            <input name="TransportCardId"
                   id="TransportCardId"
                   class="form-control"
                   placeholder="Card Id"
                   required
                   type="text"
                   ng-model="data.cardId" />
            <div class="help-block" ng-show="editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)">
                <span ng-show="editForm.TransportCardId.$error.required">Card Id is required. </span>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-default" ng-disabled="editForm.$invalid" ng-click="save()">Save</button>
            <a href="/" type="button" class="btn btn-default">Back</a>
        </div>
    </form>
    
</div>
@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("app", []);

        app.controller('ctrl',
            [
                '$scope',
                '$http',
                function ($scope, $http) {

                    $scope.data = {};

                    $scope.save = function () {
                        $http({
                            method: "POST",
                            url: '/transportcard/save',
                            data: { model: $scope.data }
                        })
                            .then(function (r) {
                                var data = r.data;
                                if (data.success) {
                                    alert("Card registered successfully!");

                                    $scope.editForm.$setPristine();
                                    $scope.editForm.$setUntouched();
                                    $scope.data = {};

                                }

                            }, function (error) {
                                
                            });


                    }

                }
            ]
        );

    </script>


}