﻿
@{
    ViewBag.Title = "Index";
}

<h2>Register Discounted Card </h2>
<div ng-app="app" ng-controller="ctrl">
    <form id="editForm" name="editForm">
        <div class="form-group" ng-class="{'has-error': editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)}" >
            <label class="control-label" for="TransportCardId">Enter Card Id</label>
            <input name="TransportCardId"
                   id="TransportCardId"
                   class="form-control"
                   placeholder="Card Id"
                   required
                   type="text"
                   ng-model="data.cardId" />
            <div class="help-block" ng-show="editForm.TransportCardId.$invalid && (!editForm.TransportCardId.$pristine || editForm.TransportCardId.$touched)">
                <span ng-show="editForm.TransportCardId.$error.required">Card Id is required. </span>
            </div>

        </div>
        <div class="form-group" ng-class="{'has-error': editForm.IdType.$invalid && (!editForm.IdType.$pristine || editForm.IdType.$touched)}">
            <label class="control-label" for="IdType">Id Type</label>
            <select class="form-control"
                    required
                    name="IdType"
                    id="IdType"
                    ng-model="data.idType">
                <option value="">[Select Id]</option>
                <option value="1">Senior Citizen Id</option>
                <option value="2">PWD Id</option>
            </select>
            <div class="help-block" ng-show="editForm.IdType.$invalid && (!editForm.IdType.$pristine || editForm.IdType.$touched)">
                <span ng-show="editForm.IdType.$error.required">Card Type is required. </span>
            </div>

        </div>
        <div class="form-group" ng-class="{'has-error': editForm.IdNumber.$invalid && (!editForm.IdNumber.$pristine || editForm.IdNumber.$touched)}">
            <label class="control-label" for="IdNo">Id Number <small>Required.  {{patternLabel}}</small></label>
            <input name="IdNumber"
                   id="IdNumber"
                   class="form-control"
                   placeholder="Id Number"
                   ng-disabled="editForm.IdType.$invalid"
                   required
                   ng-pattern="pattern"
                   type="text"
                   ng-model="data.idNumber" />
            <div class="help-block" ng-show="editForm.IdNumber.$invalid && (!editForm.IdNumber.$pristine || editForm.IdNumber.$touched)">
                <span ng-show="editForm.IdNumber.$error.required">Id Number is required. </span>
                <span ng-show="editForm.IdNumber.$error.pattern">ID is invalid. </span>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="editForm.$invalid">Save</button>
            <a href="/" type="button" class="btn btn-default">Back</a>
        </div>
        <div style="padding-top: 10px:" ng-show="errorMessage!=''">
            <span style="color:red;font-weight:bold" ng-bind="errorMessage"></span>
        </div>
    </form>

</div>



@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("app", []);

        app.controller('ctrl',
            [
                '$scope',
                '$http',
                function ($scope, $http) {
                    $scope.errorMessage = "";
                    $scope.pattern = "";
                    $scope.patternLabel = "";
                    ///^\d{2}-\d{4}-\d{4}$/

                    $scope.data = {};

                    $scope.save = function () {
                        $http({
                            method: "POST",
                            url: '/registertransportcard/save',
                            data: { model: $scope.data }
                        })
                            .then(function (r) {
                                var data = r.data;
                                console.log(data);
                                if (data.success) {
                                    alert("Card successfully registered!")
                                    $scope.editForm.$setPristine();
                                    $scope.editForm.$setUntouched();
                                    $scope.data = {};
                                }
                                else {
                                    $scope.errorMessage = data.errorMsg;
                                }

                            }, function (error) {

                            });
                    }

                    $scope.$watch(function () { return $scope.data.idType; }, function (model) {
                        if (model) {
                            if (model == "1") {
                                $scope.pattern = /^\d{2}-\d{4}-\d{4}$/;
                                $scope.patternLabel = "##-####-####";
                            }
                            else {
                                $scope.pattern = /^\d{4}-\d{4}-\d{4}$/;
                                $scope.patternLabel = "####-####-####";
                            }
                        }
                    }, true);

                }
            ]
        );

    </script>


}

