﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Q-LESS Transport</h2>
<a href="/transportcard" type="button" class="btn btn-default">Add Transport Card</a>
<hr />
<a href="/registertransportcard" type="button" class="btn btn-default">Register Discounted Card</a>
<a href="/reloadcard" type="button" class="btn btn-default">Reload Card</a>
<hr />
<a href="/simulatetrips" type="button" class="btn btn-default">Simulate Trips</a>
